<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                @for(role of roleList;track role; let srno =$index){    
                <tr>
                     <td>{{srno+1}} </td>
                     <td>{{role.role}}</td> 
                    
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>












<!-- <div class="row">
    <div class="col-4">
        <ul>
            @for(item of roleList;track item){
                <li>{{item.role}}</li>
            }
        </ul>
    </div>
    <div class="col-4">
        <select>
            @for(item of roleList;track item){
              <option>{{item.role}}</option>  
            }
        </select>
    </div>
    <div class="col-4">
    
            @for(item of roleList;track item){
              <button class="btn-btn-warning mx-2">{{item.role}} </button> 
            }
    
    </div>
</div> -->