<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button type="button" (click)="changeTab('Roles')" class="btn"
      [ngClass]="{'btn-sucess': currentComponent == 'Roles',  'btn-primary': currentComponent == 'Roles'}">Roles</button>
      
      <button type="button" (click)="changeTab('Designation')" class="btn"
      [ngClass]="{'btn-sucess': currentComponent == 'Designation', 'btn-primary': currentComponent =='Designation'}">Designation</button>
    </div>
  </div>
</div>
<div class="row pt-2">
  <div class="col-12">
  @if(currentComponent=='Roles'){
    <app-roles></app-roles>
  }
  </div>
  <div class="col-12">
     @if(currentComponent=='Designation'){
    <app-designation></app-designation>
     }
  </div>
  
